body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #f7f8fc;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #007bff;
}

.logo span {
  color: #ff9500;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

nav a:hover {
  color: #007bff;
}

.auth a {
  margin-right: 15px;
  text-decoration: none;
  color: #333;
}

.auth a:hover {
  cursor: pointer;
  color: #2786e6;
}

.auth button {
  background: #ff8c00;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}
.auth button:hover {
  background: #e67e00;
}

.signup {
  background: #ff9500;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  padding: 60px 50px;
  background: linear-gradient(to right, #2786e6, #4fb2ff);
  color: white;
  height: 300px;
}

.hero-text {
  flex: 1;
}

.hero-img img {
  width: 500px;
  border-radius: 10px;
}

.book-now {
  background: #ff9500;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  margin-top: 15px;
}

.book-now a {
  text-decoration: none;
  color: white;
}

/* Steps Section */
.steps-section {
  text-align: center;
  padding: 50px;
  background: white;
  height: 500px;
}

.steps {
  display: flex;
  justify-content: center;
  gap: 200px;
  margin-top: 100px;
}

.step {
  width: 220px;
}

.icon {
  font-size: 40px;
  margin-bottom: 10px;
}

/* Services */
.services-section {
  text-align: center;
  padding: 60px;
  height: 500px;
}

.service-cards {
  display: flex;
  justify-content: center;
  gap: 90px;
  margin-top: 30px;
}

.card {
  background: white;
  height: 300px;
  width: 320px;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.card div {
  margin-top: 70px;
}

.card-btn {
  background: #ff9500;
  width: 300px;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

.card-btn:hover {
  background: #e67e00;
}

/* Footer */
.footer {
  background: #ffffff;
  padding: 40px 60px 25px;
  margin-top: 40px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
}

.footer-section {
  flex: 1;
}

.footer-logo {
  font-size: 26px;
  font-weight: bold;
  color: #1a73e8;
}

.footer-logo span {
  color: #ff8c00;
}

.footer-text {
  margin: 15px 0;
  font-size: 15px;
  line-height: 1.6;
  color: #444;
  max-width: 350px;
}

/* Social Icons */
.footer-social i {
  font-size: 22px;
  margin-right: 18px;
  cursor: pointer;
  color: #333;
}

.footer-title {
  font-size: 18px;
  margin-bottom: 12px;
  font-weight: 600;
}

.footer-section ul {
  list-style: none;
}

.footer-section ul li {
  margin-bottom: 10px;
  font-size: 15px;
}

.footer-section ul li a {
  text-decoration: none;
  color: #333;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

/* Line */
.footer-line {
  margin: 30px 0 20px 0;
  border: none;
  border-top: 1px solid #ddd;
}

/* Copyright */
.footer-copy {
  text-align: center;
  color: #444;
  font-size: 15px;
  margin-bottom: 5px;
}

.footer-admin {
  text-align: center;
  color: #888;
  font-size: 14px;
  cursor: pointer;
}
