body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #f7f8fc;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #007bff;
}

.logo span {
  color: #ff9500;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

nav a:hover {
  color: #007bff;
}

.auth a {
  margin-right: 15px;
  text-decoration: none;
  color: #333;
}

.auth a:hover{
  cursor: pointer;
  color: #2786e6;

}

.auth button {
  background: #ff8c00;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}
.auth button:hover {
  background: #e67e00;
}

.signup {
  background: #ff9500;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  padding: 60px 50px;
  background: linear-gradient(to right, #2786e6, #4fb2ff);
  color: white;
  height: 300px;
}

.hero-text {
  flex: 1;
}

.hero-img img {
  width: 500px;
  border-radius: 10px;
}

.book-now {
  background: #ff9500;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  margin-top: 15px;
}

/* Steps Section */
.steps-section {
  text-align: center;
  padding: 50px;
  background: white;
  height: 500px;
}

.steps {
  display: flex;
  justify-content: center;
  gap: 200px;
  margin-top: 100px;
}

.step {
  width: 220px;
}

.icon {
  font-size: 40px;
  margin-bottom: 10px;
}

/* Services */
.services-section {
  text-align: center;
  padding: 60px;
  height: 500px;
}

.service-cards {
  display: flex;
  justify-content: center;
  gap: 90px;
  margin-top: 30px;
}

.card {
  background: white;
  height: 300px;
  width: 320px;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.card div {
  margin-top: 70px;
}

.card-btn {
  background: #ff9500;
  width: 300px;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

.card-btn:hover {
  background: #e67e00;
}

/* Footer */
footer {
  margin-top: 40px;
  background: white;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
}
