body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #f7f8fc;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo a{
  text-decoration: none;
  color: #007bff;
}
.logo span {
  color: #ff9500;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

nav a:hover {
  color: #007bff;
}

.auth a {
  margin-right: 15px;
  text-decoration: none;
  color: #333;
}

.auth a:hover {
  cursor: pointer;
  color: #2786e6;
}

.auth button {
  background: #ff8c00;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}
.auth button:hover {
  background: #e67e00;
}

.signup {
  background: #ff9500;
  border: none;
  padding: 8px 170px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

/* Steps */
.container {
  text-align: center;
  margin-top: 50px;
}

.steps {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  gap: 20px;
}

.step {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #ccc;
  color: white;
  line-height: 35px;
  font-weight: bold;
}

.step.active {
  background: #007bff;
}

.step.completed {
  background: #28a745;
}

.line {
  width: 70px;
  height: 2px;
  background: #ccc;
}

.line.active {
  background: #007bff;
}

.labels {
  display: flex;
  justify-content: center;
  gap: 90px;
  margin-bottom: 30px;
  color: #666;
  font-size: 14px;
}

/* Booking Container */
.booking-container {
  background: white;
  width: 60%;
  margin: auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.booking-container h2 {
  text-align: center;
  margin-bottom: 5px;
}
.booking-container p {
  text-align: center;
  color: gray;
  margin-bottom: 25px;
}

/* Mechanic Info */
.mechanic-info {
  display: flex;
  align-items: center;
  background: #f8f9fd;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 25px;
}
.mechanic-info img {
  border-radius: 50%;
  margin-right: 15px;
}
.details h3 {
  margin: 0;
}
.details p {
  margin: 5px 0;
}
.badge {
  background: #e3f2fd;
  color: #007bff;
  padding: 3px 8px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 600;
}

/* Booking Details */
.booking-details p {
  margin: 6px 0;
}
.price {
  color: orange;
  font-weight: bold;
}

/* Payment */
.payment-method {
  margin-top: 25px;
}
.payment-method h4 {
  margin-bottom: 10px;
}
.payment-method label {
  font-size: 15px;
}

/* Buttons */
.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.back-btn {
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px 25px;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
  color: #333;
}
.confirm-btn {
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 25px;
  cursor: pointer;
  font-weight: 600;
}
.confirm-btn:hover {
  background: #43a047;
}
