body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #f7f8fc;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 15px 50px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #007bff;
}
.logo span {
  color: orange;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}
/* nav a.active {
  color: #007bff;
} */

.user-buttons button {
  margin-left: 10px;
  padding: 6px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: white;
  cursor: pointer;
}
.logout {
  background: #fff;
  border: 1px solid #ccc;
}

/* Dashboard */
.dashboard {
  padding: 40px 60px;
}

.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.top-row h2 {
  font-size: 32px;
}


.book-btn {
  background: #ff7b00;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  font-weight: 10px;
}

/* Summary cards */
.summary {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
}
.card {
  flex: 1;
  background: white;
  border-radius: 12px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
  text-align: center;
  padding: 25px 10px;
}
.card h3 {
  font-size: 22px;
  margin-bottom: 5px;
}
.green {
  color: #28a745;
}
.orange {
  color: orange;
}

/* Tabs */
.tabs {
  display: flex;
  background: #e9ebf1;
  border-radius: 20px;
  overflow: hidden;
  width: 1400px;
  margin-bottom: 20px;
}
.tab {
  flex: 1;
  text-align: center;
  padding: 8px 0;
  cursor: pointer;
  font-weight: 500;
}

.tab a {
  text-decoration: none;
  color: #333;
}
.tab.active {
  background: rgb(177, 173, 173);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

/* Booking Section */
.section-title {
  font-size: 20px;
  margin: 15px 0;
}

.booking-card {
  background: white;
  border-radius: 12px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: flex-start;
  gap: 15px;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
}

.profile {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.info h4 {
  font-size: 17px;
  font-weight: 600;
}
.service {
  color: orange;
  margin-bottom: 8px;
}
.details {
  color: #555;
  font-size: 14px;
  margin-bottom: 4px;
}
.price {
  font-weight: bold;
  margin-top: 5px;
}

.status {
  position: absolute;
  top: 15px;
  right: 20px;
  padding: 4px 12px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 500;
  color: white;
}
.upcoming {
  background: #007bff;
}
.in-progress {
  background: orange;
}

.actions {
  position: absolute;
  right: 20px;
  bottom: 15px;
}
.actions button {
  border: none;
  background: #f4f4f4;
  padding: 6px 14px;
  border-radius: 8px;
  margin-left: 6px;
  cursor: pointer;
}
.actions button:hover {
  background: #e6e6e6;
}
