body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #f7f8fc;
}

/* Header */
.navbar {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  border-bottom: 1px solid #ddd;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.logo a {
  text-decoration: none;
  color: #0078ff;
}

.logo span {
  color: #ff8c00;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #222;
  font-weight: 500;
}

nav a.active {
  color: #0078ff;
}

.user-buttons button {
  margin-left: 10px;
  padding: 6px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: white;
  cursor: pointer;
}
.logout {
  border-color: #000;
}

/* Main Layout */
.dashboard {
  padding: 40px 60px;
}

/* Welcome */
.welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome h2 {
  font-size: 26px;
  margin-bottom: 5px;
}

.welcome p {
  color: #555;
}

.status.online {
  background: #2ea44f;
  color: #fff;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
}

/* Stats Cards */
.stats-cards {
  display: flex;
  gap: 25px;
  margin: 30px 0;
}

.card {
  background: #fff;
  border-radius: 12px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  flex: 1;
}

.card h3 {
  font-size: 22px;
  margin-bottom: 8px;
}

.green {
  color: #28a745;
}

.blue {
  color: #007bff;
}

.orange {
  color: #ff8c00;
}

/* Tabs */
.tabs {
  display: flex;
  background: #e9ebf1;
  border-radius: 20px;
  overflow: hidden;
  width: 1400px;
  margin-bottom: 20px;
}
.tab {
  flex: 1;
  text-align: center;
  padding: 8px 0;
  cursor: pointer;
  font-weight: 500;
}

.tab a {
  text-decoration: none;
  color: #333;
}

.tab.active {
  background: rgb(177, 173, 173);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

/* Job Cards */
.jobs h3 {
  margin-bottom: 20px;
}

.job-card {
  background: #fff;
  border-radius: 12px;
  padding: 25px;
  margin-bottom: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.job-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 12px;
}

.job-type {
  color: #ff8c00;
  font-weight: 500;
}

.status.completed {
  background: #28a745;
  color: #fff;
  padding: 4px 10px;
  font-size: 13px;
  border-radius: 10px;
}

.job-info {
  color: #555;
  margin-bottom: 6px;
  font-size: 15px;
}

.job-price {
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
}
