body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #f7f8fc;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 15px 60px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 22px;
  font-weight: 700;
  
}

.logo a {
  text-decoration: none;
  color: #007bff;
}

.logo span {
  color: #ff8c00;
}

nav a {
  margin: 0 15px;
  color: #333;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  color: #007bff;
}

/* MAIN CONTENT */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.tab-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
}

.form-container {
  background: #fff;
  width: 380px;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  margin-bottom: 5px;
  color: #333;
}

.form-container p {
  color: #555;
  font-size: 14px;
  margin-bottom: 20px;
}

/* Tabs */
.tab {
  display: flex;
  justify-content: center;
  margin-bottom: 20px 0;
}

.tab button {
  flex: 1;
  padding: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #f4f4f4;
  font-weight: 600;
  cursor: pointer;
}

.tab button.active {
  background: #007bff;
  color: white;
  /* border: 2px solid #ddd; */
}

.tab a {
  color: black;
  text-decoration: none;
}

/* Form */
form {
  text-align: left;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.row {
  display: flex;
  gap: 40px;
}

.row div {
  flex: 1;
}

/* Button */
.submit-btn {
  width: 100%;
  background: linear-gradient(to right, #ff9500, #ffa500);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 20px;
  font-weight: 600;
}

.submit-btn:hover {
  background: linear-gradient(to right, #e67e00, #ffa200);
}

.switch {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.switch a {
  color: #007bff;
  text-decoration: none;
}

.switch a:hover {
  text-decoration: underline;
}
